.row{
    display:flex;
    justify-content: center;
}
.elem{
    display:flex;
    border:1px solid blue;
    padding:5px;
    cursor: pointer;
}
.elem:hover{
    background: blue;
    color:#ffff;
}
._active{
    background: blue;
    font-weight:bolder;
}